* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');

body {
    font-family: 'Yantramanav', sans-serif;
}

nav {
    background-color: antiquewhite;
}

.nav-container {
    min-height: 50px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    /* margin-top: 30px; */


}

.topic {
    color: brown;
}

.logo p {
    font-size: 45px;
    font-weight: bolder;
    font-weight: 900px;
}

.nav-item {
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 45px;
    align-items: center;
}



.nav-item a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 20, 20);
}

.link-btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    color: rgb(24, 20, 20);
}

.nav-item .link-btn {
    color: black;
    text-align: center;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;

}

/* banner */
.banner-container {
    max-width: 1400px;
    min-height: 50px;
    margin: 50px auto 0;
    display: flex;
    text-align: justify;
    padding-left: 40px;

}

.banner-text {
    padding-top: 50px;
    width: 50%;
    background-image: url("./images/Group 14.png"), linear-gradient(rgba(236, 209, 209, 0.2), rgba(156, 154, 154, 0.1));
}

.banner-text p {
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-text h1 {
    font-size: 80px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #df3aae, #9376e0);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 50px;
}

.icon-text {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
    padding-bottom: 20px;

}

.banner-buttons {
    background-color: #df3aae;
    color: aliceblue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    width: 120px;
    height: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 60px;
}

.banner-buttong {
    background-color: #9376e0;
    color: aliceblue;
    padding: 10px 20px;
    width: 140px;
    height: 50px;
    margin-right: 20px;
    border: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 70px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* banner 2 */
.banner-container2 {
    border: 2px solid red;
    max-width: 1400px;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    text-align: right;
    padding-left: 40px;
    background-color: rgb(255, 252, 252);
}

.banner-text2 {
    border: 1px solid greenyellow;
    width: 50%;

}

.banner-text2 h1 {
    font-size: 50px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #df3aae, #9376e0);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.banner-text2 p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.banner-button {
    background-color: #df3aae;
    color: aliceblue;
    font-weight: lighter;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    width: 180px;
    height: 60px;
    margin: 20px auto;
    border: none;
    border-radius: 90px;
}

.banner-text2 h3 {
    font-size: 20px;
    line-height: 2em;
}

.banner-text2 h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* banner-2 ends */

/* product starts */
.gradient {
    background-image: linear-gradient(to bottom, #df3aae, #9376e0);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.head-tag {
    line-height: 2.8em;
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
}

.font-tag {
    font-size: 50px;
    font-weight: 800;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1400px;
    margin: 50px auto 0;
}

.single-product img {
    width: 100%;
}

.single-product p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add your movie page styles here, e.g., setting background color, font styles, etc. */

/* Watch Now Button Styles */
.watch-now-button {
    position: relative;
    display: inline-block;
    padding: 12px 30px;
    background-color: transparent;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}

.watch-now-button i {
    margin-right: 8px;
}

.watch-now-button:hover {
    background-color: #f44336;
}

/* Movie Picture Container Styles */
.movie-picture-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.movie-picture-container img {
    width: 100%;
    /* Adjust this value to set the width of the movie picture */
    height: 100%;
    /* Maintain aspect ratio */
}

.movie-picture-container .watch-now-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* play section */
.gradient1 {
    background-image: linear-gradient(to bottom, #df3aae, #9376e0);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}

.font-tag1 {
    font-size: 40px;
    color: black;
}


.play-section {
    background-color: aliceblue;
    min-height: 600px;
    padding: 20px 0;
    display: flex;
}

.play-container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.play-img {
    width: 100%;
    position: relative;


}

.play-img img {
    display: block;
    margin: 0 auto;
}

.play-text {
    width: 50%;
    text-align: right;
    padding-top: 100px;
    padding-right: 80px;
}

.this {
    font-size: 20px;
    line-height: 1.8em;
}

.play-img-small {
    background-color: rgb(128, 128, 16);
    height: 20px;
    width: 50px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    right: 93%;
}

/* review section start */
.emoji-container {
    gap: 30px;
    margin: 80px 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.emoji1-review p {
    font-size: 20px;
    font-weight: 400;
}

.emoji-review {

    /* border: 1px solid green; */
    flex-basis: 300px;
    padding: 30px;
    border-radius: 50px;
}

.emoji-review img {
    width: 60px;
    height: 60px;
}

.emoji1-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoji-review:hover {
    color: blueviolet;
    background-color: bisque;
    border: 1px solid blue;
    margin: 15px;
    padding: 15px;
    width: 10%;
    height: 20%;
}





/* footer section */
.footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 540px;
    background-color: black;
    color: white;
    margin: 50px auto 0;
}



.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo img {
    width: 100px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    /* margin-top: 30px; */
}

.topic {
    color: brown;
}

.footer-li ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.icons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto 40px;
}


.fa-brands {
    font-size: 40px;
}